.App {
  text-align: center;
}
.Home_page-header{
  text-align: center;
  margin-top: 20px;
  border-bottom: 2px solid black;
  padding: 7px;
  background-color: #EEF5ED;
}
.Home_page-header button{
  background-color: white;
  border-radius: 30px;
  width: 90px;
  margin-left: 10px;
}
.Home_page-header button:hover{
  background-color: #808080;
  color: aliceblue;
}
.logo{
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 50px;
}
#foo_logo{
  margin-left: 690px;
  margin-top: -38px;
}
.Home_page-footer{
  text-align: left;
  margin-bottom: 20px;
  border-top: 2px solid black;
  padding: 7px;
  padding-left: 40px;
  background-color: #F0F2F6;
}
.Home_page-main{
  text-align: center;
  height: 600px;
  background-color: antiquewhite;
}
.Main_paragraph{
  float: left;
  margin-left: 50px;
  text-align: start;
}
.social_media{
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-bottom: -5px;
}
.social_medias{
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.main_logo{
  height: 80px;
  width: 80px;
  margin-left: -390px;
}
.foo_text{
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin-top: -5px;
}
.old_photo{
  height: 200px;
  width: 200px;
  margin: 20px;
}
.old_site{
  margin-top: -100px;
  margin-left: 900px;
}
.old_site h3{
  margin-right: 0px;
  margin-bottom: -10px;
}
.lowest_text{
  font-size: 8px;
  color: black;
  font-weight: 200;
  text-align: center;
  margin-left: 400px;
}
.View_more{
  background-color: #808080;
  color: white;
  height: 25px;
  width: 80px;
  border-radius: 10px;
}
.Car_container{
  background-color: white;
  border: 2px solid black;
  width:fit-content;
  display: inline-block;
  margin: 5px;
  text-align: start;
  border-radius: 10px;
}
.examples{
  text-align: center;
}
.car_paragraph{
  margin: 5px;
  margin-bottom: 15px;
}
#Cars_container{
  display: inline;
}
.filter_text{
  display: inline;
  font-size: small;
  font-weight: 300;
}
.filter{
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 10px;
  padding-left: 5px;
  margin-left: 15px;
}
.low_pointer{
  float: right;
  background: none;
  border: #FFFFFF;
}
#Apply{
  background: none;
  border: none;
  height: 20px;
  margin-right: 30px;
}
#fourth_filter{
  margin-left: 400px;
  text-align: center;

}
.car_container_top{
  background-color: lightgrey;
  border-radius: 10px 10px 0 0;
}
.Search_bar{
  border-bottom: 2px solid black;
  height: max-content;
  background-color:gainsboro;
}
.Search_bar.active{
  height: 150px;
}
.Search_bar.active.wider{
  height: 280px;
}
.car_image{
  width: 400px;
  height: 200px;
}
.details{
  background-color: #808080;
  margin-left: 150px;
  border: 1px solid #808080;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
}
#car_name{
  text-align: center;
}
.car_info{
  margin: 10px;
  border: 2px solid black;
  width: fit-content;
}
#go_back{
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  margin-right: 50px;
}
#other_details{
  text-align: center;
  padding-top: 100px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#to_cart{
  background-color: #808080;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #808080;
}
#details_container{
  margin-left: 100px;
}
.filter_list{
  display: none;
}
.filter_list.active{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.filter_list li button{
  background-color: #808080;
  color: white;
  border: 1px solid #808080;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  margin-right: 10px;
}
.filter_list li{
  margin: 5px;
}
.filters{
  display: none;
}
.filters.active{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.car_image_in_cart{
  width: 150px;
  height: 100px;
  display: inline;
}
.Car_container_in_cart{
  display: inline-block;
  border: 1px solid black;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 500px;
}
.Car_paragraph_in_cart{
  display: inline-block;
  margin-right: 20px;
}
#amount{
  display: inline-block;
  margin: 5px;
}
#total_amount{
  margin-left: 350px;
}
#back_to_catalog{
  margin-bottom: 20px;
  margin-left: 50px;
}
.cart_bottom_button{
  height: 30px;
  width: 130px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
}
#continue{
  margin-left: 250px;
}
#price_in_cart{
  display: inline-block;
  margin-left: 30px;
}
#reset{
  background-color: gainsboro;
  border: none;
}
.search{
  width: 90px;
  border: none;
  display: inline;
  background-color: gainsboro;
}
#search{
  margin-left: 200px;
  width: 200px;
}
#search_button{
  background-color: #FFFFFF;
  float: right;
  border: none;
  margin-right: 5px;
  background-color: gainsboro;
}
.render{
  background-color: cornsilk;
}
.loader {
  color: blue;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader.visible{
  display: block;
}