.App {
  text-align: center;
}

.Home_page-header{
  text-align: center;
  margin-top: 20px;
  border-bottom: 2px solid black;
  padding: 7px;
  background-color: #EEF5ED;
}
.Home_page-header button{
  background-color: white;
  border-radius: 30px;
  width: 90px;
  margin-left: 10px;
}
.Home_page-header button:hover{
  background-color: #808080;
  color: aliceblue;
}
.logo{
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 50px;
}
#foo_logo{
  margin-left: 690px;
  margin-top: -38px;
}
.Home_page-footer{
  text-align: left;
  margin-bottom: 20px;
  border-top: 2px solid black;
  padding: 7px;
  padding-left: 40px;
  background-color: #F0F2F6;
}
.Home_page-main{
  text-align: center;
  height: 600px;
  background-color: antiquewhite;
}
.Main_paragraph{
  float: left;
  margin-left: 50px;
  text-align: start;
}
.social_media{
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-bottom: -5px;
}
.social_medias{
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.main_logo{
  height: 80px;
  width: 80px;
  margin-left: -390px;
}
.foo_text{
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin-top: -5px;
}
.old_photo{
  height: 200px;
  width: 200px;
  margin: 20px;
}
.old_site{
  margin-top: -100px;
  margin-left: 900px;
}
.old_site h3{
  margin-right: 0px;
  margin-bottom: -10px;
}
.lowest_text{
  font-size: 8px;
  color: black;
  font-weight: 200;
  text-align: center;
  margin-left: 400px;
}
.View_more{
  background-color: #808080;
  color: white;
  height: 25px;
  width: 80px;
  border-radius: 10px;
}
.Car_container{
  background-color: white;
  border: 2px solid black;
  width:fit-content;
  display: inline-block;
  margin: 5px;
  text-align: start;
  border-radius: 10px;
}
.examples{
  text-align: center;
}
.car_paragraph{
  margin: 5px;
  margin-bottom: 15px;
}
#Cars_container{
  display: inline;
}
.filter_text{
  display: inline;
  font-size: small;
  font-weight: 300;
}
.filter{
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 10px;
  padding-left: 5px;
}
.low_pointer{
  float: right;
  background: none;
  border: #FFFFFF;
}
#Apply{
  background: none;
  border: none;
  height: 20px;
  margin-right: 30px;
}
#fourth_filter{
  margin-left: 800px;
  text-align: center;
}
.car_container_top{
  background-color: lightgrey;
  border-radius: 10px 10px 0 0;
}
.Search_bar{
  border-bottom: 2px solid black;
}
.car_image{
  width: 400px;
  height: 200px;
}
.details{
  background-color: #808080;
  margin-left: 150px;
  border: 1px solid #808080;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
}
#car_name{
  text-align: center;
}
.car_info{
  margin: 10px;
  border: 2px solid black;
  width: fit-content;
}